* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body {
  margin: auto;
} */

a {
  color: rebeccapurple;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

nav {
  border-bottom: 1px solid black;
}

.crumbs ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  /* justify-content: space-between; */
}

.crumb {
  display: inline-block;
}

.crumbs li {
  font-size: small;
  display: inline-block;
  height: 100%;
  padding-right: 2rem;
}

.crumbs a {
  color: black;
  text-decoration: none;
}

.crumbs a:hover {
  color: rebeccapurple;
}

.footer p {
  text-align: center;
  font-size: x-small;
}

.wrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto !important;
  float: none !important;
}

h2 {
  color: black;
}

.simulate {
  text-align: center;
}

.button {
  font-size: medium;
}

label {
  font-size: small;
}

.selections label {
  display: list-item;
  list-style: none;
}

.parameters label {
  display: list-item;
  list-style: none;
}

.probabilities label {
  display: list-item;
  list-style: none;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rebeccapurple;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rebeccapurple;
  cursor: pointer;
}

.slidecontainer output {
  font-size: small;
}

.inputs {
  display: flex;
  justify-content: space-evenly;
}

#time,
#numExited,
#aveAll {
  font-size: small;
}

#graphs {
  display: flex;
  gap: 5px;
}

@media (max-width: 800px) {
  .inputs {
    display: list-item;
    list-style: none;
  }
}

@media (max-width: 720px) {
  #graphs {
    display: list-item;
    list-style: none;
  }
}

.responsive {
  max-width: 960px !important;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #ddd thin solid;
  overflow: auto;
  border-radius: 5px;
}

.responsive1 {
  max-width: 200px !important;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #ddd thin solid;
  overflow: auto;
  border-radius: 5px;
}

figcaption {
  font-size: small;
  text-align: center;
}

#titlebar {
  font-size: small;
}